.hero-button
{
    position: relative;
    min-width: 240px;
    overflow: hidden;

    display: flex;
    justify-content: center;

    gap:12px;
    align-items: center;

   
    
    font-size: 20px;
    line-height: 24px;

    font-weight: bold;

    cursor: pointer;
    

}
.hero-button img
{
   width: 32px;
   height: 32px;
}

.hero-button::after
{
    content: "";
    width: 24px;
    height: 24px;
    background-color: #5834C4;
    position: absolute;
    left: 0px;
    top:50%;
    transform:translate(0,-50%) ;

}

.partner-services-button
{
    width: 100%;
    text-align: center;
}




.cta-button-account_tax
{
    position: relative;
    min-width: 240px;
    overflow: hidden;

    display: flex;
    justify-content: center;

    gap:12px;
    align-items: center;

   
    
    font-size: 20px;
    line-height: 24px;

    font-weight: bold;

    cursor: pointer;
    

}
.cta-button-account_tax img
{
   width: 32px;
   height: 32px;
}

.nav-cta-button
{
    overflow: hidden;
    border-radius: 0px;

   
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    white-space: nowrap;
    color: #5834C4;

    display: flex;
    align-items: center;
    padding:8px 12px;

    gap: 12px;
    background-color: #fff;
    /* border: 1px solid #fff; */
    /* outline:1px solid #5834C4; */

    box-shadow: 10px 0px 0px 20px #ffffff;

    
}

.nav-cta-button img
{
    /* transform: scaleX(-1); */
}
