.primary-bg
{

    background-color:#0C0840;


}
.primary-font
{

    color:#0C0840; 




}

.secondary-bg
{
    background-color: #311291;
}
.secondary-font
{
    color: #311291;
}

.dark-primary-bg
{
    background-color: #01000e;
}

.dark-secondary-bg
{
    background-color: #08080c;
}
.dark-secondary-font
{
   color: #08080c;
}



.primary-shade-1-bg
{
    background-color:#5834C4;

}
.primary-shade-1-font
{
    color:#5834C4;

}
.primary-shade-2-bg
{
   background-color:#2A48BD ;
}
.primary-shade-2-font
{
   color:#2A48BD ;
}
.primary-shade-3-bg
{
   background-color:#7d8fd8 ;
}
.primary-shade-3-font
{
   color:#7d8fd8 ;
}
.light-primary-bg
{
    background-color: #fff;
}
.light-primary-font
{
    color: #fff;
}


.accent-bg
{
    background-color: #F0BD17;
}
.accent-font
{
    color:#F0BD17;
}

.grey-border
{
    border: 1px solid #808080;
}

.brick-border
{
    border:1px solid #E05E3D;
    
}

.grey-divider
{
    width: 100%;
    height: 1px;
    background-color: #808080;
}

