
.hero-background
{


background-image: url(../images/patterns/hero_bg_pattern_2.png);

  background-repeat: repeat;

  background-size: 32px 32px;

  

}

.hero-background-light
{

  background-image: url(../images/patterns/hero_bg_pattern_light.png);

  background-repeat: repeat;

  background-size: 32px 32px;

}
.hero-background-white
{

  background-image: url(../images/patterns/hero_bg_pattern_white.png);

  background-repeat: repeat;

  background-size: 64px 64px;

}
.hero-background-dark
{

  background-image: url(../images/patterns/hero_bg_pattern_dark.png);

  background-repeat: repeat;

  background-size: 32px 32px;

}

.hero-section-left-part::before
{

  content: "";
  top:0px;
  left: 0px;
  width: 48px;
  height: 36px;
  background-color: #5834C4;
  position: absolute;
}
.hero-section-left-part::after
{

  content: "";
  bottom:0px;
  left: 0px;
  width: 48px;
  height: 36px;
  background-color: #5834C4;
    position: absolute;

}

.about-section-top::after
{
  content: "";
  top:0px;
  right: 0px;
  
  width: 120px;
  height: 100%;
  background-color: #fff;
    position: absolute;

}

.about-section-bottom::after
{
  content: "";
  top:0px;
  left: 0px;
  
  width: 40px;
  height: 100%;
  background-color: #fff;
    position: absolute;

}

.service-section-list-row-middle-decoration
{
  width: 12px;
  background-color: #3B26C6;

  height: 180px;

  border-radius: 6px;
  position: relative;

}

.service-section-list-row-middle-decoration::after
{
  content: "";
  width: 100%;
  height: 8px;
  background-color: #fff;
  position: absolute;
  top:50%;
  left:0px;
  transform: translate(0,-50%);
}

.decoration-ball-tax
{
  background-color: #2320B9;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  top:50%;
  right:24px;
  transform: translate(0,-50%);
  position: absolute;
}

.decoration-ball-accounting
{
  background-color: #2320B9;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  top:50%;
  left:24px;
  transform: translate(0,-50%);
  position: absolute;
}

@media (max-width:1260px)  { 




}

@media (max-width:720px)  { 


  .about-section-top::after
{
  content: "";
  top:0px;
  right: 0px;
  
  width: 48px;
  height: 100%;
  background-color: #fff;
    position: absolute;

}

.about-section-bottom::after
{
  content: "";
  top:0px;
  left: 0px;
  
  width: 12px;
  height: 100%;
  background-color: #fff;
    position: absolute;

}

.decoration-ball-tax
{
  background-color: #2320B9;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  top:50%;
  right:0px;
  transform: translate(50%,-50%);
  position: absolute;
}

.decoration-ball-accounting
{
  background-color: #2320B9;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  top:50%;
  left:0px;
  transform: translate(-50%,-50%);
  position: absolute;
}



}