.section-container
{
    padding-left: 120px;
    padding-right: 120px;
}

.hero-section
{

    min-height: 100vh;

    margin-top: 72px;
    
}

.hero-section-row
{
    display: flex;
    justify-content: flex-start;
     gap:0px;

}

.hero-section-left-part
{
 width: 50%;
 height: 100vh;
 min-height: 100%;
 background-color: #fff;
 display: flex;
 justify-content: center;
 align-items: center;
 position: relative;

 
}

.hero-section-right-part
{

    width: 50%;
 height: 100vh;
 display: flex;
 justify-content: center;
 align-items: center;

}

.hero-image
{
    width: 480px;
    height: 480px;
    border:2px solid #fff;
}
.hero-content-wrapper
{

    width: 480px;
    height: auto;
}

.overview-section
{
    background-color: #ddd;
    

    padding-bottom: 0px;
    padding-top: 8px;
}

.overview-section-flex-box
{
    
    display: flex;
    justify-content: flex-start;
    gap:4px;
    flex-wrap: wrap;





}

.overview-section-flex-box-item
{
    flex-grow: 1;
    flex-basis: 1;
    flex-shrink: 1;
    padding-top: 48px;
    padding-bottom: 8px;
    background-color: #fff;

    font-size: 20px;
    line-height: 24px;
    padding-left: 12px;
    text-align: center;
    padding-right: 12px;
    font-weight: bold;
    
}

.about-section
{
    
}
.about-section-top
{
    padding-top: 120px;
    padding-left: 120px;
        padding-right: 120px;


        position: relative;

}

.about-section-top-content
{

            width: 50%;

}


.about-section-bottom
{
    padding-top: 120px;
    padding-bottom: 120px;
    padding-left: 120px;
        padding-right: 120px;
        width: 100%;
        position: relative;

}

.about-section-bottom-row
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap:120px;

    
}

.about-section-bottom-row .partner-box
{
    width: 464px;
       background-color: #0d0d13;

       border:1px solid #fff;


}

.about-section .partner-box-long
{
    text-align: center;
    background-color: #0d0d13;

       border:1px solid #fff;

}

.highlights-section
{
    padding: 60px;
    height: auto;
    width:100%;

}
.highlights-container
{
    


    /* box-shadow: -120px -120px 25px 0 rgba(255,255,255,0.25), 120px 120px 25px 0 rgba(255,255,255,0.25), 120px -120px 25px 0 rgba(255,255,255,0.25), -120px 120px 25px 0 rgba(255,255,255,0.25) ; */
       /* box-shadow: -60px -60px 0px 0 rgba(120,120,120,1), 60px 60px 0px 0 rgba(120,120,120,1), 60px -60px 0px 0 rgba(120,120,120,1), -60px 60px 0px 0 rgba(120,120,120,1) ; */

    min-height: 240px;
    

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:60px;
    padding:8px;

    position: relative;


}



.highlights-box
{
   flex-grow: 1;
   flex-shrink: 1;
   flex-basis: 1;
   padding-top: 48px;
   padding-bottom: 48px;

   display: flex;
   align-items: center;


   justify-content: center;

   width: 240px;

   text-align: center;

   padding-left: 12px;
   padding-right: 12px;

   text-align: center;


   background-color: #fff;
   color:#0d0d13;
           border:1px solid #0d0d13;


    /* border:1px solid #E05E3D; */

    box-shadow: -8px -8px 0 0 #0d0d13;
}



.services-section-tax
{
    padding-top:120px;
    padding-bottom:120px;

    background-color: #dbd3ec;

}
.services-section-accounting
{
    padding-top:120px;
    padding-bottom:120px;

    background-color: #01000e;

}
.services-section-accounting-content-outer-wrapper
{
 position: relative;
}
.services-section-tax-content-outer-wrapper
{
 position: relative;
}

.services-section-accounting-content
{
    margin-left: auto;
    width: 50%;
}

.services-section-tax-content
{
       width: 50%;
 
}


.services-section-image-row
{
    display: flex;
    justify-content: flex-start;
    gap:8px;
    flex-wrap: wrap;
}
.services-section-image-card
{
    width:calc(50% - 20px);

}
.services-section-image-card img
{
 width: 100%;
 height: auto;
}
.services-section-image-card-tax
{
    background-color: #01000e;
    display: flex;
    align-items: center;
    justify-content: center;

}
.services-section-image-card-itr
{
       background-color: #01000e;
       display: flex;
    align-items: center;
    justify-content: center;
 
}
.services-section-image-card-cashflow
{
    background-color: #fff;
}
.services-section-image-card-accounting
{
    background-color: #311291;
}


.services-section-acocounting
{
    padding-top:120px;
    padding-bottom:120px;

}
.services-section-accounting-tax-service-list
{
    background-color: #fff;
    padding-top: 120px;
    padding-bottom: 120px;
}

.services-section-list-wrapper
{
    display: flex;
    gap:24px;
    padding:24px;
    flex-wrap: wrap;


}

.services-section-list-wrapper.tax

{
    background-color: #DBD3EC;

}

.services-section-list-wrapper.accounting

{
    background-color: #01000e;

    width: calc(66.66% + 0px);

}

.service-section-list-row-last
{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  
}

.service-section-list-row-middle
{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;

  margin-top:120px !important;
  margin-bottom: 120px !important;
}
.service-section-list-row-middle .left-part-content
{
    width: 33.33%;

    padding: 24px;

    font-style: italic;

}
.service-section-list-row-middle .right-part-content
{
    width: 33.33%;
        padding: 24px;

    font-style: italic;

}




.services-section-list-wrapper.tax li 

{
    flex:0 0 calc(33.33% - 24px);

    font-weight: bold;
    color:#0d0d13;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap:12px;
    flex-wrap: wrap;


}

.services-section-list-wrapper.tax li .services-section-list-icon

{
    width: 24px;
    height: 24px;
    background-color: #fff;
    border:6px solid  #0d0d13;


    border-radius: 50%;
    display: inline-block;

}

.services-section-list-text
{
    font-weight: bold !important;
}

.services-section-list-wrapper.accounting li 

{
    flex:0 0 calc(50% - 12px);

    color:#fff;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap:12px;
    flex-wrap: wrap;


}

.services-section-list-wrapper.accounting li .services-section-list-icon

{
    width: 24px;
    height: 24px;
    background-color: #0d0d13;

    border:6px solid  #fff;

    border-radius: 50%;
    display: inline-block;

}

.services-section-list-text
{
    display: block;

    max-width: calc(100% - 40px);

    
}

.cta-button-account_tax-wrapper
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    width: calc(30% - 0px);
}

.section-information-general
{
    background-color: #482D9A;

    padding-top: 120px;
    padding-bottom: 120px;
    margin-bottom: 120px;
    text-align: center;
}
.section-general-information-title
{
    text-transform: uppercase;
}
.general-info-call-button
{
    background-color: #fff;
    border:2px solid #482D9A;
    outline: 2px solid #fff;
    display: inline-block;
    padding:12px 24px;

    margin-top:22px;
}

.section-other-services
{
   background-color: #fff;
}

.section-other-services-top
{
background-color: #01000e;
  padding-top: 120px;
  padding-bottom: 120px;

  color:#fff;
}
.section-other-services-top li
{
  color:#fff;
}

.section-other-services-bottom
{
background-color: #fff;
  padding-top: 120px;
  padding-bottom: 120px;
}

.section-other-services-row
{
    display: flex;
    justify-content: flex-start;
    gap:0px;

    flex-wrap: wrap;



    width: 80%;
    margin-left: auto;
    margin-right: auto;


}

.section-other-services-row-column
{
  width:50%;

  max-width: 50%;
  overflow: hidden;
}
.section-other-services-row-column.image-container
{
  display: flex;
  justify-content: center;
  align-items: center;
}


.section-other-services-row-column.business-registation-image
{

background-color: #17162b;


}

.section-other-services-row-column.business-compliance-image
{
/* background-color: #0C0840; */
background-color: #17162b;


}
.section-other-services-row-column.payroll-image
{
background-color: #e4e2e7;


}
.section-other-services-row-column.business-operations-image
{
background-color: #311291;

}

.section-other-services-row-column img
{
  width:100%;
  height: auto;
}

.section-other-services-row-column.content
{

     display: flex;
     align-items: center;
     padding: 64px;
    
}
.section-other-services-row-column.content .content-wrapper
{

    min-height: 80%;
    
}

.other-services-list-wrapper
{

}

.other-services-title
{

}

.other-services-list
{

}

.other-services-list-item
{
    margin-top: 24px;

    font-size: 20px;
    line-height: 24px;
    color: #1B1616;
}
.other-services-list-item-with-underline
{
    padding-top:24px;
    padding-bottom: 24px;
    border-bottom: 1px dotted #000;
}
.other-services-list-item-with-underline-light
{
    padding-top:24px;
    padding-bottom: 24px;
    border-bottom: 1px dotted #fff;
}

.footer-section
{
    padding: 48px;
    padding-bottom: 48px;
    

    min-height: 400px;
    

}
.footer-row
{
    display: flex;
    flex-wrap: wrap;
    gap:0px;
    justify-content: space-around;
}

.footer-column
{
    width: 33.33%;

    
}
.footer-column-menu
{
    display: flex;
    justify-content: center;

}

.footer-logo-text
{

}

.company-info-card
{
    border: 1px solid #3b3c85;

    color:#fff;
    position: relative;

}

.company-info-title
{
    position: absolute;
    z-index: 100;
    top:0px;
    left: 25%;
    
    transform: translate(0,-50%);
    padding:0px 4px;
}

.company-info-card .compnay-info
{

}

.footer-menu-item
{
    line-height: 24px;
    font-size: 20px;
    margin-top: 24px;
}


.contact-info-card
{
    border: 2px solid #fff;

    
    outline: 2px solid #3b3c85;
    position: relative;

    color:#fff;

}

.contact-info-title
{
   
    
    transform: translate(0, 0);
    padding:12px 0px;
    font-size: 20px;
    line-height: 24px;
    font-weight: bold;
    border-radius: 12px;
}
.footer-contact-info-list
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap:24px;
    font-family: 'Inter';

  
}




@media (max-width:1260px)  { 


.section-container
 {
    padding-left: 48px;
    padding-right: 48px;
 }


}

@media (max-width:720px)  { 



 .section-container
 {
    padding: 12px;
    padding: 12px;
 }

 .hero-section-row
{
    display: flex;
    justify-content: flex-start;
     gap:24px;

     padding: 12px;

     height: auto;

     flex-direction: column-reverse;
}

.hero-section-left-part
{
 width: 100%;
 height: auto;
 min-height: 100%;
 background-color: #fff;
 display: flex;
 justify-content: center;
 align-items: center;
 position: relative;

 padding-top:48px;
 padding-bottom: 48px;

 padding-left: 12px;
 padding-right: 12px;

 
}

.hero-section-right-part
{

    width: auto;
 height: 50%;
 display: flex;
 justify-content: center;
 align-items: center;
 max-width: 100%;
 overflow: hidden;

}

 .about-section-top-content
{

            width: calc(100% - 40px);

}
.about-section-bottom-row .partner-box
{
    width: 100%;
       


}
.about-section-top
{
    padding-top: 120px;
    padding-left: 48px;
        padding-right: 48px;


        position: relative;

}

.about-section-bottom
{
    padding-top: 120px;
    padding-bottom: 120px;
    padding-left: 48px;
        padding-right: 48px;
        width: 100%;
        position: relative;

}


.overview-section-flex-box-item
{
    flex-grow: 1;
   flex-shrink: 1;

    flex-basis: 1;
    padding-top: 48px;
    padding-bottom: 8px;
    background-color: #fff;

    font-size: 20px;
    line-height: 24px;
    padding-left: 12px;
    text-align: center;
    padding-right: 12px;
    font-weight: bold;

    min-width: 0;
    width: 40%;
    
}

.services-section-accounting-content
{
    padding-left: 48px;
    width: 100%;
}

.services-section-tax-content
{
       width: 100%;
     padding-right: 48px;

}



.services-section-image-card 
{
    width: 100%;
}





.services-section-list-wrapper.accounting

{
    background-color: #01000e;

    width: 100%;

}

.services-section-list-wrapper.tax li 

{
    flex:0 0 100%;

    width: 100%;

    


}
.services-section-list-wrapper.accounting li 

{
    flex:0 0 calc(100% - 12px);


}

.service-section-list-row-middle .left-part-content

{
    width: 100%;
}
.service-section-list-row-middle .right-part-content
{
    width: 100%;

}
.service-section-list-row-middle

{
    justify-content: center;
}


.cta-button-account_tax-wrapper
{
    

    width: 100%;
}

.section-other-services-row
{
width: 100%;
}

.section-other-services-row-column
{
    width: 100%;
    max-width: 100%;
}

.footer-column
{
    width: 100%;

    margin-top: 48px;

    
}
.footer-column-menu
{
    justify-content: flex-start;


}


}


