.servicespage-title-section
{
    padding-top: 48px;
    padding-bottom:48px;
    margin-top: 72px;


}

.servicespage-about-section
{
    padding-top:120px;
    padding-bottom: 120px;
        



}

.servicespage-services-section
{

       padding-top:120px;
    padding-bottom: 120px;
      

}

.service-page-content-wrapper
{
    max-width:600px;

}

.why-choose-list-item
{
    font-size: 20px;
    line-height: 24px;

    margin-top: 24px;
}


.servicespage-flex-row
{

       display: flex;
       flex-wrap: wrap;

       flex-direction: row;



       gap:0px;
       

}

.servicepage-flex-column
{

    width: 50%;

    max-width: 50%;

    

}
.servicepage-flex-column.image-wrapper-main
{

}



.servicepage-flex-column.image-wrapper-main img
{

    width: 100%;
    height: auto;



}

.servicepage-flex-column.image-wrapper
{
 /* border:1px solid #fff; */

 /* box-shadow: 8px 8px 8px 0 rgba(255, 255, 255, 0.5),-8px -8px 8px 0 rgba(255, 255, 255, 0.5); */

 box-shadow: 0px 0px 8px 8px rgba(255,255,255,0.5);

}



.servicepage-flex-column.image-wrapper img
{

    width: 100%;
    height: auto;



}

.core-services-list-item
{

    margin-top: 24px;
    font-size: 20px;
    line-height: 24px;


}

.servicespage-services-title
{
    margin-top: 120px;
}

.why-choose-list-item, .core-services-list-item
{
    display: flex;
    justify-content: flex;
    align-items: center;

    flex-wrap: wrap;
    gap:12px;

    margin-top: 48px;

}

.why-choose-listicon, .core-services-listicon
{

    width: 24px;
    height: 24px;

    border:6px solid #fff;
    display: inline-block;
  border-radius: 50%;
      box-shadow: 0 0 8px 2px rgba(255,255,255,0.5);



    

}

.why-choose-listtest, .core-services-listtext
{
  display: inline-block;

  width: calc(100% - 40px);


}

@media (max-width:1260px)  { 





}

@media (max-width:720px)  { 



    .servicepage-flex-column
{

    width: 100%;
    max-width: 100%;


    

}

.servicespage-flex-row
{

      



      flex-direction: column-reverse;

       gap:24px;
       

}


}