.mtop-12
{
    margin-top:12px;

}
.mtop-24
{
    margin-top:24px;
    
}
.mtop-36
{
    margin-top:36px;
    
}
.mtop-48
{
    margin-top:48px;
    
}

.padding-vert-12
{
    padding-top:12px;
    padding-bottom: 12px;

}
.padding-vert-24
{
    padding-top:24px;
    padding-bottom: 24px;

}
.padding-vert-36
{
    padding-top:36px;
    padding-bottom: 36px;

}
.padding-vert-48
{
    padding-top:48px;
    padding-bottom: 48px;

}

.padding-horz-12
{
    padding-left:12px;
    padding-right: 12px;

}
.padding-horz-24
{
    padding-left:24px;
    padding-right: 24px;

}
.padding-horz-36
{
    padding-left:36px;
    padding-right: 36px;

}
.padding-horz-48
{
    padding-left:48px;
    padding-right: 48px;

}